<footer class="mipui-footer">
    <div class="container">
        {:hook("friendlinkHook")}
        <p class="text-center mip-footer">&copy;<?php echo date('Y'); ?> <br class="d-xl-none" /><a data-type="mip" href="{$domain}" data-title="{$mipInfo['siteName']}">{$mipInfo['siteName']}</a> <br class="d-xl-none" />{$mipInfo['icp']}<br class="d-xl-none" /><a href="{$domain}/link.html">站内链接</a> <a href="{$domain}/sitemap.xml">网站地图</a> <br class="d-xl-none" /> Powered By <a data-type="mip" data-title='MIP建站系统'  href="https://www.mipjz.com" target="_blank">MIP建站系统</a>{$mipInfo['statistical']} </p>
    </div>
</footer>