<footer class="mipui-footer">
    <div class="container">
        {:hook("friendlinkHook")}
        <p class="text-center mip-footer">&copy;<?php echo date('Y'); ?> <a data-type="mip" href="{$domain}" data-title="{$mipInfo['siteName']}">{$mipInfo['siteName']}</a> {$mipInfo['icp']}<a href="{$domain}/sitemap.xml">网站地图</a> <br class="visible-xs" /> Powered By <a data-type="mip" data-title='MIPJZ'  href="https://www.mipjz.com" target="_blank">MIPJZ</a>{$mipInfo['statistical']} </p>
    </div>
</footer>