<div class="mipmb-header mipmb-header-default" id="mip_header">
    <div class="container">
        <div class="menu-warp">
            <div class="logo-text">
                <a data-type="mip" href="{$domain}" data-title="{$mipInfo['siteName']}">{$mipInfo['siteName']}</a>
            </div>
            <ul class="mipmb-menu list-unstyled">
                <li class='nav-item {if condition="$mod=='index'"}active{/if}'>
                    <a href="{$domain}" data-type="mip" data-title="{$siteInfo['siteName']}" title='首页'>首页</a>
                </li>
                {mipcms:articlecategory value="v" type='menu' limit='8'}
                <li class='mipmb-dropdown-item {if condition="$categoryUrlName==$v['url_name']"}active{/if}'>
                    <a href="{$v.url}" data-type="mip" data-title="{$v['name']}" title="{$v['name']}">{$v['name']}</a>
                    {if condition='$v.sub'}
                    <ul class="mipmb-dropdown-list">
                        {volist name='$v.sub' id="val"}
                        <li>
                            <a href="{$val.url}" data-type="mip" data-title="{$val.name}" title='{$val.name}'>{$val.name}</a>
                        </li>
                        {/volist}
                    </ul>
                    {/if}
                </li>
                {/mipcms:articlecategory}
            </ul>
            <div class="d-none d-lg-block header-search-warp">
                <mip-form class='form-inline search-form' width='350' url="{$domain}/search" method="get">
                    <div class="d-inline-block pull-left">
                        <input class="form-control" type="text" name="q">
                    </div>
                    <input type="submit" class="d-inline btn btn-primary" value="搜索">
                </mip-form>
            </div>
        </div>
<!--        <div class="d-none d-lg-block float-right">-->
<!--            <ul class="mipmb-menu list-unstyled">-->
<!--                {if condition='$userInfo["group_id"] == 1'}-->
<!--                <li>-->
<!--                    <a href="{$domain}/{$Think.config.admin}/">后台管理</a>-->
<!--                </li>-->
<!--                {else/}-->
<!--                <li>-->
<!--                    <a href="{$domain}/{$Think.config.admin}/">登录</a>-->
<!--                </li>-->
<!--                {/if}-->
<!--            </ul>-->
<!--        </div>-->
    </div>
</div>
